version: "3.9"

services:
  camunda:
    image: camunda/camunda-bpm-platform:run-latest
    ports:
      - "8080:8080"
    restart: unless-stopped

    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://camunda-instance-database-instance-1.c1eogicauczi.eu-west-2.rds.amazonaws.com:5432/camunda
      SPRING_DATASOURCE_USERNAME: camunda_user
      SPRING_DATASOURCE_PASSWORD: camunda-project-123
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: org.postgresql.Driver

      CAMUNDA_BPM_DATABASE_TYPE: postgres
      CAMUNDA_BPM_DATABASE_SCHEMA_UPDATE: true
      CAMUNDA_BPM_JOB_EXECUTION_ENABLED: true
